# Azure Functions core
azure-functions==1.21.3

# Azure SDK
azure-identity==1.19.0
azure-keyvault-secrets==4.9.0
azure-storage-file-datalake==12.17.0

# Async HTTP client
aiohttp==3.10.11

# Data processing
pyarrow==18.1.0
pandas==2.2.3
